
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Login page</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename = 'css/custom.css') }}" rel="stylesheet">
  </head>

  <body>

    <div class="container" style="width:300px;">

      <form class="form-signin">
        <h2 class="form-signin-heading">Generate token</h2>
        <input type="text" id="generatedToken" class="form-control" value='' readonly>
        <button class="btn btn-lg btn-primary btn-block" type="submit" id="generateTokenButton">Generate</button>
      </form>

    </div> <!-- /container -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type = "text/javascript"
      src="{{ url_for('static', filename = 'js/md5.min.js') }}"> </script>
    <script type = "text/javascript"
      src="{{ url_for('static', filename = 'js/jquery.blockUI.js') }}"> </script>
    <script type = "text/javascript"
      src="{{ url_for('static', filename = 'js/admin.js') }}"> </script>

  </body>
</html>
